@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*CONFIGURACOES GERAIS*/
body{
    margin: 0;
    font-family: 'Oswald';
    display: flex;
    align-items: center;
    justify-content: center
}

body{
    background-color:#201b2c ;
}

/*----------------------------------------------------------------------------------------------------*/
/*PAGINA DE LOGIN*/
.main-login{
    width: 100vw;
    height: 90vh;
    background-color: #201b2c; ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color : #77ffc0;
}

.rigth-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
}

.card-login>h1{
    color:#00ff88;
    font-weight: 900;
    margin : 0;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-registro{
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #2b134b;
    background-color:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
/*----------------------------------------------------------------------------------------------------*/
/*PAGINA DE REGISTRO*/
.main-register{
    width: 100vw;
    height: 90vh;
    background-color: #201b2c; ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-register{
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 250px;

}

.left-register > h1{
    color: #77ffc0;
    font: 10vw;

}


.right-register{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-register{
    width : 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
    margin-top: 100px;
}

.card-register>h1{
    color:#00ff88;
    margin : 0;
}

.imagemRegistro{
    width: 30vw;
    height: 60vh;
}


.btn-register{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.left-login-login{
    width: 35vw;
    height: 50vh;
}
/*----------------------------------------------------------------------------------------------------*/
/*PAGINA DE REGISTRO E PAGINA DE LOGIN*/
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background-color:#514869 ;
    color:#f0ffffde ;
    font-size: 12pt;
    box-shadow: 2px 10px 30px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
  color: #f0ffffde;  
  margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:#f0ffff94;
}
/*----------------------------------------------------------------------------------------------------*/
/*PAGINA PRINCIPAL*/

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: #fff;
    height:50px ;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text{
    width: 0;
    background:none;
    border: 0;
    outline: 0;
    padding: 0;

    transition: 0.4s;
    font-size: 16px;
}

.search-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lupaBranca{
    display: none;
}

.search-box:hover>.search-text{
    width: 50vw;
    padding-left: 20px;
}

.search-box:hover>.search-btn{
    background: #2b134b;
}

.search-box:hover>.search-btn .lupaAzul{
    display: none;
}

.search-box:hover>.search-btn .lupaBranca{
    display: block;
}

::-webkit-input-placeholder{
    font: 17px;
    color: #aeaeae;
}

.titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: 90px;

    background: linear-gradient(45deg,#00b8ca, #19bfcf ,#32c6d4 ,#4ccdd9);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    background-clip:none ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

@keyframes degrade {
    0%{
        background-position-x:0%;
    }

    100%{
        background-position-x: 400% ;
    }
}

.btn-fazerLogin{
    position: absolute;
    right: 0;
    width: 10vw;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-meuPerfil{
    position: absolute;
    left: 0;
    height: auto;
    width: 10vw;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 50%;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*----------------------------------------------------------------------------------------------------*/
/*Formulario*/
.formulario{
    margin-top: 20px;
    width: 60vw;
    

    position: absolute;
    
    left: 50%;
    transform: translate(-50%,-50%);


    justify-content: center;
    align-items: column;

    
    
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.textfield > input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background-color:#514869 ;
    color:#f0ffffde ;
    font-size: 12pt;
    box-shadow: 2px 10px 30px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
  color: #f0ffffde;  
  margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:#f0ffff94;
}

.textfield>textarea{   width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background-color:#514869 ;
    color:#f0ffffde ;
    font-size: 12pt;
    box-shadow: 2px 10px 30px #00000056;
    outline: none;
    box-sizing: border-box;
}

.formulario>h2{
        color:#00ff88;
        font-weight: 800;
        
}
.btn-formulario{
    width: 100%;
    padding: 16px 0px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*----------------------------------------------------------------------------------------------------*/
/*RESPONSIBILIDADE*/
@media screen and (max-width: 1000px) {
    .main-register{
        flex-direction: column;
        justify-content: center;
    }
    .card-register{
        height: auto;
        width: auto;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .left-register{
        margin: 0px;
        margin-top: 700px;
        margin-bottom: 45px;
    }
    .imagemRegistro{
        width: 60vw;
    }

    .main-login{
        flex-direction: column;
        justify-content: center;
    }
    .card-login{
        height: auto;
        width: auto;
        margin-bottom: 20px;
    }
    .left-login{
        margin: 0px;
        margin-top: 650px;
        margin-bottom: 0px;
    }
    .left-login-login{
        width: 100vw;
    }

    .btn-registro{
        font-weight: 800;
    }

    .btn-fazerLogin{
        width: 20vw;
        font-weight: 800;
    }

    .btn-meuPerfil{
        width: 40vw;
        height: 10vh;
    }

    .titulo{
        margin-top: 30px; 
        font-size: 60px;
    }
    .search-box:focus-within .search-text {
        width: 50vw;
        padding-left: 20px;
    }
    
    .search-box:focus-within .search-btn {
        background: #2b134b;
    }
    
    .search-box:focus-within .search-btn .lupaAzul {
        display: none;
    }
    
    .search-box:focus-within .search-btn .lupaBranca {
        display: block;
    }
    
}