@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*CONFIGURACOES GERAIS*/
body {
    margin: 0;
    font-family: 'Oswald';
    display: flex;
    align-items: center;
    justify-content: center
}

body {
    background-color: #201b2c;
}

/*----------------------------------------------------------------------------------------------------*/
/*PAGINA DE LOGIN*/

.main-login {
    width: 100vw;
    height: 90vh;
    background-color: #201b2c;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    color: #77ffc0;
}

.rigth-login {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.envio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

.card-login {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
}

.envio>h1 {
    color: #00ff88;
    font-weight: 900;
    margin: 0;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-registro {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*----------------------------------------------------------------------------------------------------*/
/*PAGINA DE REGISTRO*/
.main-register {
    width: 100vw;
    height: 90vh;
    background-color: #201b2c;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-register {
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 250px;

}

.left-register>h1 {
    color: #77ffc0;
    font: 10vw;

}


.right-register {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-register {
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
    margin-top: 100px;
}

.card-register>h1 {
    color: #00ff88;
    margin: 0;
}

.imagemRegistro {
    width: 30vw;
    height: 60vh;
}


.btn-register {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.left-login-login {
    width: 35vw;
    height: 50vh;
}

/*----------------------------------------------------------------------------------------------------*/
/*PAGINA DE REGISTRO E PAGINA DE LOGIN*/
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 2px 10px 30px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

/*----------------------------------------------------------------------------------------------------*/
/*PAGINA PRINCIPAL*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.titulo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    background: linear-gradient(45deg, #00b8ca, #19bfcf, #32c6d4, #4ccdd9);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 400%;
    }
}

.btn-fazerLogin, .btn-meuPerfil {
    position: absolute;
    width: 10vw;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-fazerLogin {
    right: 0;
}

.btn-meuPerfil {
    left: 0;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%; /* Adicionado para centralizar */
}

.search-text {
    width: 0;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    transition: 0.4s;
    font-size: 16px;
}

.search-box .search-text {
    width: 50vw;
    padding-left: 20px;
}

.search-text:focus {
    width: 50vw;
    padding-left: 20px;
}

.search-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #2b134b;
}

.search-box:hover .search-btn .lupaAzul {
    display: none;
}

.search-box:hover .search-btn .lupaBranca {
    display: block;
}

::-webkit-input-placeholder {
    font: 17px;
    color: #aeaeae;
}

.filter {
    top: 100px;
    height: auto;
}

select {
    height: 50px;
    width: 100px;
}

.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-top: 20px; /* Espaço entre a barra de pesquisa e os resultados */
    position: absolute;
    top: calc(50% + 60px); /* Ajuste para ficar abaixo da barra de pesquisa */
    left: 50%;
    transform: translate(-50%, 0);
}

.resultado-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.resultado-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.resultado-item p {
    margin: 5px 0;
}


/*----------------------------------------------------------------------------------------------------*/
/*Formulario*/
.formulario {
    width: 50vw;
    height: auto;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 2px 10px 30px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.textfield>textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 2px 10px 30px #00000056;
    outline: none;
    box-sizing: border-box;
}

.formulario>h2 {
    color: #00ff88;
    font-weight: 800;

}

.btn-formulario {
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*CARD DA PAGINA DE PERFIL*/
.card-perfil {
    margin: 0;
    width: 75vw;
    height: 100vh;
    display: grid;
    place-items: center; /* Alinha itens ao centro vertical e horizontalmente */
    padding: 35px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 30px #00000056;
    margin-top: 100px;
}


.btn-sub,
.btn-nome>span,
.btn-nome>a,
.area-perfil {
    
    width: auto; /* Defina a largura automaticamente */
    max-width: 100%; /* Defina a largura máxima como 100% */
    padding: 16px 20px; /* Ajuste o preenchimento conforme necessário */
    margin: 10px; /* Ajuste a margem conforme necessário */
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    
}




.btn-nome{
    width: 58vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-nome, .btn-sub{
    background-color: #00ff88;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

.btn-sub{
    cursor: pointer;
    width: 58vw;
    height: 8vh;
}

.card-perfil>h1,
.area-perfil {
    font-size: 50px;
    color: #4ccdd9;
    font-weight: 800;
}

.btn-nome {
    border-radius: 8px; /* Ajuste a borda do botão */
    font-size: 1vw /*juste o tamanho da fonte conforme necessário */
}

.area-perfil {
    font-size: 1.3vw; /* Ajuste o tamanho da fonte conforme necessário */
}

/*TABELA PERFIL*/
/* Estilo para a tabela */
table {
    width: 58vw;
    
    margin-top: 20px;
}

/* Estilo para as células da tabela */
td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

/* Estilo para a primeira célula da tabela (Título do Documento) */
th:first-child {
    background-color: #2f2841;
}

/* Estilo para as linhas pares da tabela */
tr:nth-child(even) {
    background-color: #2f2841;
}

/* Estilo para as linhas ímpares da tabela */
tr:nth-child(odd) {
    background-color: #2f2841;
}

/* Estilo para o botão "Deletar" */
button {

    width: 2vw;
    background-color: #4ccdd9;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-deletar,.btnEditar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-deletar{
    margin: 0;
}

.btnEditar{
    margin: 0
}

td .btn-deletar, td .btnEditar{
    display: inline;
    justify-content: space-between;
    align-items: center;
}

.icone-lixeira, .icone-editar {
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    padding: 03px;
    color: white;
    width: 02vw;  /* Ajuste o tamanho conforme necessário */
    height: 04vh; /* Ajuste o tamanho conforme necessário */
    vertical-align: middle;
}


.icone-lixeira{
    background-color: #f44336;
    
}
.icone-editar{
    background-color:#4ccdd9 ;
}

/* Estilo para o botão "Deletar" quando hover */


.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.resultado-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.resultado-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.resultado-item p {
    margin: 5px 0;
}



.resultado-item{
    background-color: #514869;
    color: #f9f9f9;
}


/*----------------------------------------------------------------------------------------------------*/
/*RESPONSIBILIDADE*/
@media screen and (max-width: 1000px) {
    .main-register {
        flex-direction: column;
        justify-content: center;
    }

    .card-register {
        height: auto;
        width: auto;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .left-register {
        margin: 0px;
        margin-top: 700px;
        margin-bottom: 45px;
    }

    .imagemRegistro {
        width: 60vw;
    }

    .main-login {
        flex-direction: column;
        justify-content: center;
    }

    .card-login {
        height: auto;
        width: auto;
        margin-bottom: 20px;
    }

    .left-login {
        margin: 0px;
        margin-top: 650px;
        margin-bottom: 0px;
    }

    .left-login-login {
        width: 100vw;
    }

    .btn-registro {
        font-weight: 800;
    }

    .btn-fazerLogin {
        width: 20vw;
        font-weight: 800;
    }

    .btn-meuPerfil {
        width: 40vw;
        height: 10vh;
    }

    .titulo {
        margin-top: 30px;
        font-size: 60px;
    }

    .search-box:focus-within .search-text {
        width: 50vw;
        padding-left: 20px;
    }

    .search-box:focus-within .search-btn {
        background: #2b134b;
    }

    .search-box:focus-within .search-btn .lupaAzul {
        display: none;
    }

    .search-box:focus-within .search-btn .lupaBranca {
        display: block;
    }

}